<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.huczeq.rtspplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8191844178329148~3553742832"/>
        <activity android:name=".activities.main.StartActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.mgmt.AddCameraActivity" />
        <activity android:name=".activities.mgmt.EditCameraActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.InfoAppActivity" />
        <activity android:name=".activities.PreviewCameraActivity"
            android:theme="@style/AppTheme.Player"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>