<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.huczeq.rtspplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name=".ui.activities.main.StartActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.mgmt.AddCameraActivity" />
        <activity android:name=".ui.activities.mgmt.EditCameraActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.settings.info.AppInfoActivity" />
        <activity android:name=".ui.activities.settings.info.LicenseActivity" />
        <activity android:name=".ui.activities.settings.RestoreBackupActivity" />
        <activity android:name=".ui.activities.settings.CreateBackupActivity" />
        <activity android:name=".ui.activities.settings.SettingsActivity"
            android:theme="@style/AppTheme.Preferences"/>
        <activity android:name=".ui.activities.PreviewCameraActivity"
            android:theme="@style/AppTheme.Player"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>